#quotes {
  max-width: 500px;
}


.quote {
  font-style: italic;
  margin-bottom: 50px;

  p {
    text-align: left;
  }

  .by {
    font-style: normal;
    text-align: right;

    &:before {
      content: "— ";
    }
  }
}
