<div class="navbar">
  <p id="lushed">lushed</p>
  <%= link_to "home", root_path %>
  <%= link_to "words", words_path %>
  <%= link_to "quotes", quotes_path %>
  <%= link_to "fade", fade_path %>
</div>
