<%= render 'pages/back_home', extra_classes: "white" %>

<div class="flex-center text-center full-height">
  <p>did you know humans drink &#x221e;&times; less water when they are asleep than when they are alive?</p>
</div>
