<%= render 'pages/back_home' %>

<div class="full-height flex-center text-center"
     style="background: url('https://images.unsplash.com/photo-1533274814154-b8dc5f18c0f8?auto=format&w=1440&q=90') no-repeat center center fixed;">

  <div>
    <p>lotus</p>
    <br>
    <p class="text-left line-height-breathe text-shadow">
      <i>
      how letters of words form petals of flowers<br>
      how words in lines form ponds of thoughts<br>
      take fleurs and hours make smell of decay<br>
      rake hay for hours and make flour powder<br>
      like little red hen had no real friends but faux ones<br>
      bread still stale and sour tho musky decay
      </i>
    </p>
  </div>

  <p class="lushed lushed-bottom lushed-right stealth">photo: <a href="https://unsplash.com/photos/hhrADG91TAY" target="_blank">Echo Yan</a></p>
</div>
