<%= render 'pages/back_home' %>

<div class="flex-center text-center full-height">
  <div id="quotes">
    <div class="quote">
      <p>As the gig economy grows, so too does the danger that engineers, in attempting to build the most efficient systems, will chop and dice jobs into pieces so dehumanized that our legal system will no longer recognize them. And along with this comes an even more sinister possibility: jobs that <i>would</i> and <i>should</i> be recognizable — especially supervisory and management positions — will disappear altogether. If a software engineer can write a set of programs that breaks a job into smaller increments, and can follow it up with an algorithm that fills in as the supervisor, then the position itself can be programmed to redundancy.</p>
      <p class="by">Susan Fowler, 2018</p>
      <!-- https://www.vanityfair.com/news/2018/08/silicon-valley-engineers-fear-they-created-a-monster -->
    </div>
    <div class="quote">
      <p>They’re just chords, just melodies. I don’t know what combination of those objects is gonna make me feel how I need to feel. But I know precisely the feeling that needs to happen.</p>
      <p class="by">Frank Ocean</p>
      <!-- https://www.nytimes.com/2016/11/20/arts/music/frank-ocean-blonde-interview.html -->
    </div>
  </div>
</div>
