<div class="flex-center text-center full-height">
  <div id="quotes">
    <div class="quote">
      <p>They’re just chords, just melodies. I don’t know what combination of those objects is gonna make me feel how I need to feel. But I know precisely the feeling that needs to happen.</p>
      <p class="by">Frank Ocean</p>
      <!-- https://www.nytimes.com/2016/11/20/arts/music/frank-ocean-blonde-interview.html -->
    </div>
  </div>
</div>