.button {
  display: inline-block;
  cursor: pointer;

  background: inherit;
  color: inherit;

  border: 1px solid white;
  border-radius: 2px;
  border-color: inherit;

  padding: 0.4rem 0.8rem;
}
