label {
  text-transform: lowercase;
  margin-right: 1rem;
}

abbr[title="required"] {
  display: none;
}

input {
  border: none;
  background: transparent;
  color: inherit;

  padding: 0.2rem 0;

  font-size: 1rem;

  border-bottom: 1px solid rgba(white, 0.3);
  transition: border 0.2s;

  &:focus {
    border-color: rgba(white, 0.8);
    outline: none;
  }
}

.form-group {
  margin-bottom: 3rem;

  display: flex;
  align-items: center;

  input {
    flex: 1 0 200px;
  }
}
