.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;

  background: #000;
  color: #fff;

  height: 30px;
  line-height: 30px;

  a {
    color: inherit;
    margin: 0 40px;

    &:hover {
      text-decoration: underline;
    }
  }

  #lushed {
    display: inline;
    position: absolute;
    left: 30px;
    top: 0;
  }
}
