html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html { height: 100%; }
body { min-height: 100%; }

body.black {
  background: #000;
  color: #fff;
}

h1, h2, h3, h4, h5, p, a, ul, ol, li {
  font-family: $body-font;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover, &:visited {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  &.no-href-markup:hover {
    text-decoration: none;
  }
}

a.link {
  &:visited {
    color: $blue;
  }

  text-decoration: none;
  color: $blue;

  &:hover {
    color: $blue-hover;
    text-decoration: none;
  }
}

.tall-line-height {
  line-height: 1.5;
}

.stealth {
  color: $gray;
  font-size: 11px;
}

.full-height {
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.line-height-breathe {
  line-height: 1.6;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-list-markup {
  list-style: none;
  margin: 0;
  padding: 0;
}

$lushed-margin: 15px;

.lushed {
  position: fixed;
  color: #fff;

  &.black {
    color: #000;
  }
}
.lushed-top {
  position: fixed;
  top: $lushed-margin;
}
.lushed-left {
  position: fixed;
  left: $lushed-margin;
}
.lushed-bottom {
  position: fixed;
  bottom: $lushed-margin;
}
.lushed-right {
  position: fixed;
  right: $lushed-margin;
}
