html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

html { height: 100%; }
body { min-height: 100%; }

body.black {
  background: #000;
  color: #fff;
}

h1, h2, h3, h4, h5, p, a, ul, ol, li {
  font-family: $body-font;
}

p {
  margin: 0;
}

a {
  &:visited {
    color: $blue;
  }

  text-decoration: none;
  color: $blue;

  &:hover {
    color: $blue-hover;
    text-decoration: none;
  }
}

.tall-line-height {
  line-height: 1.5;
}

.stealth {
  color: $gray;
  font-size: 11px;
}

.full-height {
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-list-markup {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-href-markup {
  color: inherit;

  &:hover {
    color: inherit;
  }
}



.back-home {
  position: fixed;
  top: 15px;
  left: 15px;

  color: #000;

  &.white {
    color: #fff;
  }
}
